/**********************************
* Common Styles
**********************************/

body{
	background: #E9E9E9;
	font-family: Montserrat;
}

#page-wrap{
	max-width: 1440px;
	margin: auto;
}

.page-section{
	padding: 120px;
}

.page-section h2{
	font-size: 72px;
	font-weight: 700;
	line-height: 87.77px;
	text-align: center;
}

.page-section img {
	max-width: 100%;
	height: auto;
}

/**********************************
* indiviual styles
**********************************/

/*about-section*/

#about{
	background-image: url("assets/img/icons/background.png");
	padding: 30px 0px 160px 0px;
	color: #fff;
}

.header{
	display: flex;
	align-items: center;
	margin-bottom: 140px;
	justify-content: space-around;
}

#check{
	display: none;
}

.header .checkbtn{
	display: none;
}

.header h3{
	font-size: 24px;
	font-weight: 700;
	line-height: 29.26px;
	text-align: left;
}
.header h3 a{
	text-decoration: none;
	color: #fff;
}

.header ul{
	list-style: none;
	display: flex;
	column-gap: 40px;
}

.header ul li{
	font-size: 18px;
	font-weight: 500;
	line-height: 21.94px;
	text-align: left;
}

.header ul li:hover{
	border-bottom: 2px solid #fff;
}

.header ul li a{
	text-decoration: none;
	color: #fff;
}

.icons > a > img{
	margin-bottom: 10px;
	padding-right: 25px;
}

.content-section h1{
	font-size: 72px;
	font-weight: 700;
	line-height: 87.77px;
	text-align: center;
	margin-bottom: 30px;

}

.content-section p{
	font-size: 18px;
	font-weight: 400;
	line-height: 21.94px;
	text-align: center;
	margin-bottom: 30px;
}

.content-section .package-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.content-section .package-btn a{
	background: #FF6060;
	padding: 15px 60px;
	color: #fff;
	border-radius: 40px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

.content-section .package-btn img{
	margin-top: 50px;
}

.content-section .package-btn p{
	font-size: 18px;
	font-weight: 400;
	top: 20px;
    rotate: 20deg;
    margin-bottom: 10px;
    position: relative;
    right: 20px;
    margin-bottom: 0px;
}

.menu-container{
	min-height: 180px;
	align-content: center;
}

.menu-section{
	display: flex;
	justify-content: center;
}

.menu-section p{
	font-size: 24px;
	font-weight: 400;
	line-height: 28.13px;
	text-align: left;
}

.menu{
	display: flex;
	column-gap: 20px;
	background: #5B5B5B;
    width: 350px;
    height: 80px;
    position: relative;
	box-shadow: 7px 7px 5px 0px #00000080;
	align-items: center;
	justify-content: space-around;
}

.menu .menu-content{
	display: flex;
	column-gap: 20px;
	align-items: center;
}

.menu-section .photoshop{
	rotate: -13deg;
}

.menu-section .adobe{
	top: 50px;
	right: 60px;
	rotate: 10deg;
	z-index: 1;
}

.menu-section .figma{
	rotate: -16deg;
    right: 80px;
}

/*about-me section*/

#aboutme-section{
	background: #F1F1F1;
	display: flex;
	column-gap: 250px;
	position: relative;
}

#aboutme-section .container h2{
	margin-bottom: 90px;
}

.media{
	display: flex;
	column-gap: 30px;
	margin-bottom: 50px;
}

.social{
	column-gap: 55px;
	margin-bottom: 60px;
}

.checkout{
    column-gap: 50px;
    margin-bottom: 0px;
}

.content h3{
	font-size: 40px;
	font-weight: 700;
	line-height: 48.76px;
	text-align: left;
}

.content p{
	font-size: 24px;
	font-weight: 400;
	line-height: 29.26px;
	text-align: left;
}

.image-section img{
	width: 556px;
	position: absolute;
	bottom: 0px;
}

/*services section*/

#services-section{
	background: #FF6060;
}

#services-section h2{
	color: #fff;
    margin-bottom: 90px;
}

.services{
	display: flex;
	column-gap: 75px;
}

.service{
	background: #fff;
	border-radius: 16px;
	padding: 40px 30px;
	text-align: center;
	box-shadow: 0px 7px 15px 0px #00000026;
}

.service h3{
	font-size: 36px;
	font-weight: 500;
	line-height: 43.88px;
	text-align: center;
	margin-bottom: 30px;
}

.service p{
	font-size: 18px;
	font-weight: 400;
	line-height: 21.94px;
	text-align: left;
}

.service img{
	width: 130px;
	margin-bottom: 30px;
}


/*pricing section css*/
#packages-section{
	padding: 120px 0px 150px 0px;

}

#packages-section h2{
   margin-bottom: 70px;
}

.packages-table{
	display: flex;
	column-gap: 70px;
	justify-content: center;
}

.package{
	padding: 40px;
	background: #FFFFFF;
	box-shadow: 0px 7px 15px 0px #00000026;
	border-radius: 16px;
}

.standard{
	margin: -25px;
	padding: 50px;
	position: relative;
}

.package .title{
	font-size: 36px;
	font-weight: 500;
	line-height: 43.88px;
	text-align: center;
	margin-bottom: 20px;
}

.standard .title{
	font-size: 40px;
}

.package hr{
	width: 250px;
	border: 1px solid #000000;
	margin-bottom: 30px;
}

.package .head{
	font-size: 48px;
	font-weight: 600;
	line-height: 58.51px;
	text-align: center;
    margin-bottom: 30px;
}

.standard .head{
	margin-bottom: 40px;
}

.package ul{
	line-height: 200%;
	list-style: none;
}

.package ul li{
	font-size: 18px;
	font-weight: 400;
	text-align: left;
}

.standard ul li{
	font-size: 20.59px;
}

.basic ul{
	margin-bottom: 110px;
}

.standard ul{
	margin-bottom: 120px;
}

.premium ul{
	margin-bottom: 60px;
}

.package .package-btn{
	text-align: center;
}

.package .package-btn a{
	background: #FF6060;
	padding: 15px 30px;
	color: #fff;
	border-radius: 40px;
	cursor: pointer;
	text-decoration: none;
    display: inline-block;
}

.standard .package-btn a{
	padding: 15px 40px;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 20px 30px;
  background: #FF6060;
}

.ribbon-top-right {
  top: 0px;
  right: 0px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/*footer section*/

#footer-section{
    background: #282828;
    padding: 120px 0px;
}

#footer-section h2{
	margin-bottom: 20px;
	color: white;
}

#footer-section .footer-icons{
	display: flex;
	justify-content: center;
	column-gap: 80px;
}


/*media query*/

@media only screen and (min-device-width: 810px) and (max-device-width: 1024px) and (orientation: portrait) {
    
    /* Sidebar styling */

	.sidebar a {
	    padding: 10px 15px;
	    display: block;
	    transition: 0.3s;
	}

	.sidebar .closebtn {
	    font-size: 36px;
	}


    /*hero-section media query*/

    #about{
	   background-position: center center;
	   background-repeat: no-repeat;
	   background-size: cover;
	} 
    
    .header .checkbtn{
		display: block;
		font-size: 2rem;
		width: 100px;
	}

    .header h3{
  	    font-size: 30px;
    }

	.header ul{
		position: fixed;
		top: 80px;
		background: #FF6060;
        text-align: center;
        height: 100vh;
        width: 100%;
        transition: all .5s;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        padding-top: 50px;
        z-index: 2;
	}
    
    .content-section h1{
    	font-size: 50px;
		font-weight: 700;
		line-height: 60px;
		text-align: center;
		margin-bottom: 30px; 
    }

	.menu{
		column-gap: 0px;
	    padding: 20px 10px;
	    height: auto;
	}

	.menu-content img{
		max-width: 50%;
	}

	.menu-section .photoshop{
		left: 30px;
	}

	.menu-section .adobe{
		top: 50px;
		right: 15px;
	}

	.menu-section .figma{
	    right: 30px;
	}


	/*aboutme-section media query*/
	
	#aboutme-section{
	 	flex-wrap: wrap;
		column-gap: 0px;
		padding: 60px 0px 60px 40px;

	}
	.container h2{
		margin-bottom: 40px;
		font-size: 60px;
	}
		
	.content h3{
		font-size: 32px;
	}

	.media img{
		max-width: 30%;

	}
    
	.content p{
		font-size: 22px;
		
	}

	.image-section img{
		max-width: 45%;
		bottom: 0px;
		position: absolute;
	}

	/*services-section*/

	#services-section{
		padding: 60px 40px;
   }

	#services-section h2{
		font-size: 55px;
   	    margin-bottom: 40px;
	}
	
	.services{
		flex-wrap: wrap;
		row-gap: 40px;
		flex-direction: column;
	}

	.service p{
		text-align: center;
	}

	/*packages-section*/

	#packages-section{
		padding: 60px 120px;
	}

	.packages-table{
		flex-wrap: wrap;
		row-gap: 40px;
		flex-direction: column;
	}

    .packages-table hr{
    	width: 100%;
    }

    /*footer-section*/

	#footer{
        padding: 70px;
	}

	#footer h2{
		font-size: 60px;

	} 

	#footer .assets{
		column-gap: 60px;
	}

	#footer .assets img{
		max-width: 50%;

	}
}