/**********************************
* Common Styles
**********************************/

body{
	background: #E9E9E9;
	font-family: Montserrat;
}

#page-wrap{
	max-width: 1440px;
	margin: auto;
}

.page-section{
	padding: 120px;
}

.page-section h2{
	font-size: 72px;
	font-weight: 700;
	line-height: 87.77px;
	text-align: center;
}

.page-section img {
	max-width: 100%;
}

/**********************************
* indiviual styles
**********************************/

/*about-me section*/

#aboutme-section{
	background: #F1F1F1;
	display: flex;
	column-gap: 250px;
	position: relative;
}

#aboutme-section .container h2{
	margin-bottom: 90px;
}

.media{
	display: flex;
	column-gap: 30px;
	margin-bottom: 50px;
}

.social{
	column-gap: 55px;
	margin-bottom: 60px;
}

.checkout{
    column-gap: 50px;
    margin-bottom: 0px;
}

.content h3{
	font-size: 40px;
	font-weight: 700;
	line-height: 48.76px;
	text-align: left;
}

.content p{
	font-size: 24px;
	font-weight: 400;
	line-height: 29.26px;
	text-align: left;
}

.image-section img{
	width: 556px;
	position: absolute;
	top: -65px;
}

/*services section*/

#services-section{
	background: #FF6060;
}

#services-section h2{
	color: #fff;
    margin-bottom: 90px;
}

.services{
	display: flex;
	column-gap: 75px;
}

.service{
	background: #fff;
	border-radius: 16px;
	padding: 40px 30px;
	text-align: center;
	box-shadow: 0px 7px 15px 0px #00000026;
}

.service h3{
	font-size: 36px;
	font-weight: 500;
	line-height: 43.88px;
	text-align: center;
	margin-bottom: 30px;
}

.service p{
	font-size: 18px;
	font-weight: 400;
	line-height: 21.94px;
	text-align: left;
}

.service img{
	width: 130px;
	margin-bottom: 30px;
}


/*pricing section css*/
#packages-section{
	padding: 120px 0px 150px 0px;

}

#packages-section h2{
   margin-bottom: 70px;
}

.packages-table{
	display: flex;
	column-gap: 70px;
	justify-content: center;
}

.package{
	padding: 40px;
	background: #FFFFFF;
	box-shadow: 0px 7px 15px 0px #00000026;
	border-radius: 16px;
}

.standard{
	margin: -25px;
	padding: 50px;
	position: relative;
}

.package .title{
	font-size: 36px;
	font-weight: 500;
	line-height: 43.88px;
	text-align: center;
	margin-bottom: 20px;
}

.standard .title{
	font-size: 40px;
}

.package hr{
	width: 250px;
	border: 1px solid #000000;
	margin-bottom: 30px;
}

.package .head{
	font-size: 48px;
	font-weight: 600;
	line-height: 58.51px;
	text-align: center;
    margin-bottom: 30px;
}

.standard .head{
	margin-bottom: 40px;
}

.package ul{
	line-height: 200%;
	list-style: none;
}

.package ul li{
	font-size: 18px;
	font-weight: 400;
	text-align: left;
}

.standard ul li{
	font-size: 20.59px;
}

.basic ul{
	margin-bottom: 110px;
}

.standard ul{
	margin-bottom: 120px;
}

.premium ul{
	margin-bottom: 60px;
}

.package .package-btn{
	text-align: center;
}

.package .package-btn a{
	background: #FF6060;
	padding: 15px 30px;
	color: #fff;
	border-radius: 40px;
	cursor: pointer;
	text-decoration: none;
    display: inline-block;
}

.standard .package-btn a{
	padding: 15px 40px;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 20px 30px;
  background: #FF6060;
}

.ribbon-top-right {
  top: 0px;
  right: 0px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/*footer section*/

#footer-section{
    background: #282828;
    padding: 120px 0px;
}

#footer-section h2{
	margin-bottom: 20px;
	color: white;
}

#footer-section .footer-icons{
	display: flex;
	justify-content: center;
	column-gap: 80px;
}