/**********************************
* Common Styles
**********************************/

body{
	background: grey;
	font-family: Montserrat;
}

#page-wrap{
	max-width: 1440px;
	margin: auto;
}

.page-section{
	padding: 120px;
}

.page-section img {
	max-width: 100%;
}

/**********************************
* indiviual styles
**********************************/

/*pricing section css*/
#pricing-section{
	background: #E9E9E9;
}

#pricing-section h2{
	font-size: 72px;
	font-weight: 700;
	line-height: 87.77px;
	text-align: center;
    margin-bottom: 40px;
}

.pricing-table{
	display: flex;
	column-gap: 70px;
	justify-content: center;
}

.pricing{
	padding: 40px;
	background: #FFFFFF;
	box-shadow: 0px 7px 15px 0px #00000026;
	border-radius: 16px;
}

.standard{
	margin: -25px;
	padding: 50px;
	position: relative;
}

.pricing h3{
	font-size: 36px;
	font-weight: 500;
	line-height: 43.88px;
	text-align: center;
	margin-bottom: 20px;
}

.pricing hr{
	width: 250px;
	margin-bottom: 30px;
}

.pricing h2{
	font-size: 48px;
	font-weight: 600;
	line-height: 58.51px;
	text-align: center;
    margin-bottom: 30px;
}

.standard h2{
	margin-bottom: 40px;
}

.pricing ul{
	line-height: 150%;
	list-style: none;
}

.basic ul{
	margin-bottom: 110px;
}

.standard ul{
	margin-bottom: 120px;
}

.premium ul{
	margin-bottom: 60px;
}

.pricing .package-btn a{
	background: #FF6060;
	padding: 15px 30px;
	color: #fff;
	border-radius: 40px;
	cursor: pointer;
}

.pricing .package-btn{
	text-align: center;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 20px 30px;
  background: #FF6060;
}

.ribbon-top-right {
  top: 0px;
  right: 0px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
